/* Seletor Universal */
*{
    border: 1px solid red;
}

/* Seletor de Texto */
h1{
    color:green;
}

/* Seletor de Classe */
.verde{
    color: green;
}

p.verde{
    color:greenyellow;
}

/* Seletor de ID */
#cabecalho{
    border: 1px dotted blue;
}

/* Seletor de Filho */
li>a{
    color: red;
    text-decoration: none;
}