/* Barra de navegação em Abas */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li{
    float: left;
    background: url(../imagens/aba-direita2.png) no-repeat top right;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../imagens/aba-esquerda2.png) no-repeat top left;
    color: #fff;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url(../imagens/aba-direita-atual.png) no-repeat top right;

}

ul #atual a{
    background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}

/* Arrendondamento com Imagens */

.caixa{
    width: 400px;
    background: url(../imagens/fundo-arredondamento.png) repeat-y left top;
}

.caixa h2{
    padding: 10px 20px 0px 20px;
    background: url(../imagens/topo2.png) no-repeat left top;
}

.caixa p{
    padding: 0 20px;
}

.caixa .ultimo{
    background: url(../imagens/baixo2.png) no-repeat left bottom;
    padding-bottom: 20px;
} 